<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h1>Home Page or Landing page here</h1>
        <a href="/listings" class="show-route-btn show-route-viewall-btn">View all listings</a>
    </body>