<% layout("/layouts/boilerplate.ejs") %>

    <body>

        <div class="index-route-cards">
            <%for(let listing of allListings){%>
                <a class="listing-link" href="/listings/<%=listing._id%>">
                    <div class="card" style="width: 18rem;">
                        <img src="<%=listing.image%>" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=listing.title%>
                            </h5>
                            <p class="card-text">
                                &#8377;<%=listing.price.toLocaleString("en-IN")%> / night</p>

                        </div>
                    </div>
                </a>

                <%}%>
        </div>
    </body>